.coordonnee{
    font-size: large;
    font-weight: bolder;
    }
    
    .profession{
        font-size: large;
        font-weight: bolder;
    }
    
    .AnneeNaissance{
        font-size: large;
        font-weight: bolder;
    }
    
    .auto{
        font-size: large;
        font-weight: bolder;
    }